@import '@/uni.scss';
// hover态
// @primaryColor16: $color-primary;
// @hoverColor: rgba(59, 89, 254, 0.5);
// // @btnHoverColor: #627aff;
// @btnHoverColor: lighten(@primaryColor16, 10%);
// @backgroundColor: rgba(59, 89, 254, 0.08);

// // focus态
// // @btnFocusColor: #324bd8;
// @btnFocusColor: lighten(@primaryColor16, -15%);
// // 边框
// @border: 1px solid #888;
// // 文字颜色
// @fontColor: #000;

// input
uni-input{
	min-height: 80upx;
	height: 80upx !important;
	line-height: 80upx;
	padding: 8upx 32upx !important;
	font-family: SF-Pro;
	color: #000;
	
	&:focus{
		border-color: $color-primary !important;
		.is-input-border{
			border-color: $color-primary !important;
		}
	}
}

uni-input,
.uni-easyinput__placeholder-class{
	font-weight: 400 !important;
}

.uni-easyinput{
	&:focus{
		border-color: $color-primary !important;
		.is-input-border{
			border-color: $color-primary !important;
		}
	}
}

uni-input,
.uni-input-input,
.uni-easyinput__placeholder-class{
	font-size: $font-size-lg - 2upx !important;
}

.uni-input-input:disabled{
	color: rgba(0, 0, 0, 0.5) !important;
}

.is-input-border{
	border: $uni-border !important;
	border-radius: 12upx !important;
}

// input 中的图标
.uni-icons{
	font-family: uniicons !important;
	text-decoration: none;
	text-align: center;
	
	font-size: $font-size-lg + 10upx !important;
}

.content-clear-icon{
	padding: 0 30upx !important;
}

// button
uni-button{
	font-size: $font-size-lg - 2upx !important;
	font-family: SF-Pro;
	font-weight: 600;
	color: #fff;
}

uni-button[type=default] {
	min-height: 98upx;
	height: 98upx;
	line-height: 98upx;
	border-radius: 12upx;
	color: #fff;
	background-color: $color-primary;
}

// button点击时样式
.button-hover {
	color:#fff !important;
	background: $bg-color-hover !important;
}

// 链接
navigator{
	// height: $font-size-lg + 6upx;
	font-size: $font-size-lg - 2upx !important;
	font-family: SF-Pro;
	color: $color-primary;
	// line-height: $font-size-lg + 6upx;
}

// 链接点击时样式
.navigator-hover{
	color: $bg-color-hover !important;
	background-color: #fff !important;
	opacity: 1 !important;
} 

// text 文本
uni-text {
	font-size: $font-size-lg !important;
}

uni-switch .uni-switch-input{
	margin-right: 0;
}

uni-switch .uni-switch-input.uni-switch-input-checked{
	background-color: $color-primary !important;
	border-color: $color-primary !important;
}

// 文件上传
.uni-file-picker,
.file-picker__box {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50% !important;
}

.file-picker__box {
	position: absolute;
	top: 0;
	left: 0;
}

.uni-file-picker__container,
.file-picker__box-content {
	border-radius: 50% !important;
	margin: 0 !important;
	
	.file-image{
		border-radius: 50%;
	}
	
}

uni-page-body {
	height: 100% ;
}

uni-textarea {
	min-height: 44upx;
	max-height: 300upx;
	overflow-y: scroll;
	height: auto;
	width: auto;
}

// 抽屉
.uni-drawer__content{
border-radius: 0px 16upx 16upx 0px;
	width: 500upx !important;
	// padding-top: 88upx;
}

// pop 弹出层
uni-actionsheet .uni-actionsheet_toggle,
.uni-actionsheet__menu,
.uni-actionsheet__action{
	border-radius: 28upx !important;
}

.uni-actionsheet__menu>.uni-actionsheet__cell{
	height: 90upx !important;
}

uni-actionsheet .uni-actionsheet__cell{
	height: 110upx !important;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	font-size: $font-size-lg + 2upx !important;
	font-family: SF-Pro;
	font-weight: 600;
	color: $color-primary !important;
}

uni-actionsheet .uni-actionsheet__title {
	height: 90upx;
	// padding: 30upx 74upx;
	font-size: $font-size-lg - 6upx !important;
	font-family: SF-Pro;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6) !important;
	border-radius: 28upx 28upx 0 0;
	
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	// line-height: $font-size-lg + 4upx;
}

.uni-actionsheet__action{
	margin-top: 16upx !important;
}
.ql-container image {
	max-height: 200upx;
	vertical-align: bottom;
	border-radius: 10px;
	margin: 0 2px;
}
.ql-editor.ql-blank:before {
	font-style: normal;
	font-size: $font-size-lg !important;
	font-family: SF-Pro;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
}
.ql-container img {
	max-width: 200upx;
	max-height: 200upx;
	vertical-align: bottom;
	border-radius: 20upx;
	margin: 0 4upx;
}

// Rate 评分
.uni-rate {
	.uni-rate__icon {
		&:last-child {
			margin-right: 0 !important;
		}
	}
}